{
    "swagger": "2.0",
    "info": {
        "title": "api annuaire1212",
        "description": "api pour la plateforme de gestion d'annuaire des entreprise",
        "version": "0.1"
    },
    "host": "extra.apis2m.sn",
    "basePath": "/annuaire1212",
    "schemes": [
        "https"
    ],
    "paths": {
        "/recherche": {
            "post": {
                "parameters": [
                    {
                        "parameter": "recherche",
                        "name": "recherche",
                        "in": "body",
                        "description": "parametre de recherche",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/search"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "recherche entreprise",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/default"
                        }
                    }
                }
            }
        },
        "/infos_entreprise": {
            "post": {
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "parameter": "id",
                        "name": "id",
                        "in": "formData",
                        "description": "Id de l'entreprise",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details entreprise",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/default"
                        }
                    }
                }
            }
        },
        "/liste_regions_domaines": {
            "get": {
                "responses": {
                    "200": {
                        "description": "liste des regions et domaines",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/default"
                        }
                    }
                }
            }
        },
        "/makePub": {
            "post": {
                "parameters": [
                    {
                        "parameter": "addPub",
                        "name": "addPub",
                        "in": "body",
                        "description": "parametre ajout pub",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/addPub"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ajout pub",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/default"
                        }
                    }
                }
            }
        },
        "/pub": {
            "get": {
                "responses": {
                    "200": {
                        "description": "liste des publicites",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/default"
                        }
                    }
                }
            }
        },
        "/listeAgences": {
            "get": {
                "responses": {
                    "200": {
                        "description": "liste des agences",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/default"
                        }
                    }
                }
            }
        },
        "/listeAssistants": {
            "get": {
                "responses": {
                    "200": {
                        "description": "liste numeros assistants",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/default"
                        }
                    }
                }
            }
        },
        "/indicatifs": {
            "post": {
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "parameter": "pays",
                        "name": "pays",
                        "in": "formData",
                        "description": "Nom du pays",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "liste indicatifs",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/default"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "default": {
            "properties": {
                "success": {
                    "description": "state request",
                    "type": "boolean"
                },
                "code": {
                    "description": "state request",
                    "type": "number",
                    "default": 200
                },
                "data": {
                    "description": "",
                    "type": "object"
                }
            }
        },
        "search": {
            "properties": {
                "nom": {
                    "description": "nom entreprise",
                    "type": "string"
                },
                "region": {
                    "description": "region name",
                    "type": "string",
                    "default": 200
                },
                "domaine": {
                    "description": "The domaine",
                    "type": "string"
                }
            }
        },
        "addPub": {
            "properties": {
                "urlWebsite": {
                    "description": "state request",
                    "type": "string"
                },
                "urlImage": {
                    "description": "state request",
                    "type": "string",
                    "default": 200
                },
                "description": {
                    "description": "The description",
                    "type": "string"
                },
                "type": {
                    "description": "The type of the pub",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "recherche": {
            "name": "recherche",
            "in": "body",
            "description": "parametre de recherche",
            "schema": {
                "type": "object",
                "$ref": "#/definitions/search"
            }
        },
        "id": {
            "name": "id",
            "in": "formData",
            "description": "Id de l'entreprise",
            "type": "string"
        },
        "addPub": {
            "name": "addPub",
            "in": "body",
            "description": "parametre ajout pub",
            "schema": {
                "type": "object",
                "$ref": "#/definitions/addPub"
            }
        },
        "pays": {
            "name": "pays",
            "in": "formData",
            "description": "Nom du pays",
            "type": "string"
        }
    }
}